@import 'https://fonts.googleapis.com/css?family=Open+Sans';
html {
	height: 3200px;
	width: 1920px;
	border: 1px solid #D1DEE8;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	height: 125px;
}

img {
	z-index: -1;
	margin: 0
}

.navbar-brand {
	width: 250px;	
}

.pushed {
	padding-left: 495px;
	font-weight: 800;
}

.black {
	color: black; 
}

a:active, a:hover, a:visited,  a:link {
	color:black;
	text-decoration: none;
}

.lefty {
	margin-left: 35px;
	margin-top: 10px;
}

.font-50 {
	font-size: 42.5px
}

.font-45 {
	font-size:41px;
}

.font-35 {
	font-size: 39px
}

.font-38 {
	font-size: 33px
}

.font-30 {
	font-size: 28px;
}

.font-28 {
	font-size:25px
}

.font-25 {
	font-size: 20px;
}

.font-18 {
	font-size: 18.5px
}

.font-12 {
	font-size: 12px
}

.lefty-2 {
	margin-left:15px;
}

.righty-1 {
	margin-right: -15px
}

.caret-mg {
	margin-left: 10px;
}

.dropped {
	width: 330px;
	border-left: 1px solid #D1DEE8;
	padding-left: 45px;
	margin-left: 35px;
	margin-top: 25px;
	vertical-aling: middle;
	color: black
/* 	height: 26px; */
}

.border-top {
	border-top: 1px solid #D1DEE8;
	margin-top: -5px
}

.little-push {
	padding-left: 145px;
}

.for-you span {
	color: red;
	font-weight: 800;
} 

.black span {
	color:black;
	font-weight: 800;
}

.little-push a {
	color: red;
}

.navbar-default {
	background-color: white;
	border-bottom: 1px solid #E7E7E7
}

.user-img {
	margin-right: 30px;
}

.center {
	text-align: center;
}

.section-one {
	padding: 0;
	margin-top: -20px;
	height: 1010px;
	background-color: #F2F9FF
}

.row-section-one {
	padding-top: 105px
}

.col-one {
	padding-left: 275px;
	width: 510px;
	margin-right: 105px;
/* 	border: 1px solid black */
	background-color: transparent;
	margin-top:-5px
}

.col-two {
	width: 690px;
	margin-left: 245px;
	padding-rigt: 0
}

.margined-1 {
	margin-top: 55px;
	font-size: 16px;
	margin-bottom: 25px;
	line-height: 175%;
	width: 720px;
	padding-left: 0;
	padding-right: 40px;
}

.demo {
	border-radius: 0;
	outline: none;
	background-color: #4C80EC;
	border: 0;
	color: white;
	margin-right: 15px;
	width: 155px;
	height: 60px;
	vertical-align: middle;
	font-size: 15px;
}

.try-free {
	border-radius: 0;
	outline: none;
	background-color: #5BBB48;
	border: 0;
	color: white;
	margin-left: 15px;
	width: 255px;
	height: 60px;
	font-size: 15px;
	vertical-align: middle;
}

.text-demo {
	vertical-align: middle
}

.button-container {
	border-bottom: 1px solid #D1DEE8;
	padding-bottom: 50px;
	width: 520px;
	margin-left: 70px;
	margin-bottom: 20px;
}

.container-for-text {
	width: 690px;
	padding: 0;
}

.textbox {
	text-align: left;
	margin-top: 28px;
}

.checked {
	margin-left: -45px;
}

.text {
	margin-left: 10px;
	font-size: 15px
}

.col-text-left {
	margin-right: 25px;
	width: 280px;
	margin-left: 20px
}

.col-text-right {
	margin-left: 85px;
	width: 280px;
}

.section-two {
	margin-top: 85px;
	height: 615px;
	background-color: #F2F9FF;
	padding-top: 55px;
}

.title-one {
	margin-bottom: 65px;
}

.logo-two {
	margin-bottom: 42px;
}

.badge-container {
	width: 1170px;
	margin-top: 70px;
	border-top: 1px solid #D1DEE8;
	padding-top: 40px;
}

.badger {
	text-align: left;
	width: 570px;
	font-weight: 800;
	font-size: 15.5px;
}

.section-three {
	padding-top: 75px;
	padding-left: 65px;
}

.title-three {
	margin-bottom: 30px;
	width: 1920px;
/* 	display: inline; */
}



.price-span {
	font-size: 12.5px
}

.top-pad {
	padding-top: 35px;
}

.top-pad-2 {
	padding-top: 30px;
}

.top-pad-3 {
	padding-top: 20px;
}

.bold {
	font-weight: 800
}

.mg-r { 
	margin-right: 125px
}

.mr-b {
	margin-bottom: 10px;
	padding-bottom:35px;
}

.mr-t {
	margin-top: 65px;
}

.mr-neg {
	margin-top: 35px;
}

.mr-neg2 {
	margin-top: 100px;
}

.mr-neg3 {
	margin-top: -10px;
}

.mr-top-neg {
	margin-top:5px;
}

.blue {
	color: blue;
	font-weight: 800;
	font-size: 14.7px;
	line-height: 100%;
}

.soda-button {
	height: 25px;
	width: 185px;
	background-color: #FD4049;
	color: white;
	margin-bottom: 30px;
	font-weight: 100;
	letter-spacing:1.5px;
	font-size: 13px;
	border: 2px solid #D1DEE8;
}

.buy-button {
	width: 195px;
	height: 50px;
	background-color: #4C80EC;
	color: white;
	font-weight: 100;
	border: 2px solid #D1DEE8;
	font-size: 20px
}

.line-mid {
	line-height: 50%
}

.line-double {
	line-height: 150%;
}

.no-mg {
	padding:0;
	margin:0;	
}

.no-pad {
	padding-left:-15px;
	padding-right:-15px;	
}

.negative-mg-left {
	margin-left: -180px;
	margin-top: 25px;
}

.square-sm {
	width:105px;
	height: 85px;
	border-bottom: 1px solid #D1DEE8;
	margin-bottom: 20px;
	margin-top:-15px;
}

.square-lg {
	width:280px;
	height: 85px;
	border-bottom: 1px solid #D1DEE8;
	margin-bottom: 20px;
	margin-top:-15px;
}

.dot {
	background-color: #4C80EC;
	color: #4C80EC;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	font-size: 5px
}

.mg-b {
	padding-top: 35px;
}

.mg-c {
	padding-top: 10px;
}

.mg-bot {
	margin-bottom: -5px;
}

.mg-plus {
	margin-bottom: 35px;
	margin-top:0px;
	margin-left:-25px;
	margin-right: -35px;
}

.big-pad {
	padding-right: 515px;	
	padding-top:35px
}

.margin-top-neg {
	margin-bottom: 0px
}

.margin-logo {
	margin-top: 5px;
	padding-left: 32px;
}

.mg-plus-s {
	margin-bottom: 5px;
	margin-top: -55px;
}

.mg-map {
	margin-left:-95px;
	margin-right: -95px;
}

.mg-plus-3 {
	margin-top: 2px;
	line-height: 200%; 
	font-size: 13px;
	margin-left: -20px;
}

.arrow-prelast {
	margin-right: 160px;
	margin-left: -175px;
	height: 19px;
	font-size: 25px;
	vertical-align: top;
}

.mg-busi {
	margin-left: 20px;
	font-weight: 800;
}

.neg {
	margin-right: -155px;
	margin-left: -155px;
	letter-spacing: 1px;
	padding-left: 60px;
	float: none;
}

.row-pad {
	padding-top: 10px;
}

.mg-menu {
	margin-top: 10px
}

.arrow-last {
	color: black;
	margin-right: 30px;
	margin-left: -25px;	
}

.arrow-first {
	font-size:19px;
	color:black;
	margin-right: 160px;
	margin-left: -185px;
}

.arrow-second {
	color: black;
	margin-right: 25px;
	margin-left: -30px;
	font-size: 30px;
	vertical-align: middle
}

.mg-45 {
	margin-left: 95px;
}

.mg-35 {
	margin-left: 55px;
}

.inlined {
		margin-left: -55px;
		margin-right: -55px;
}

.square-small {
	width:105px;
	height: 70px;
	border-bottom: 1px solid #D1DEE8;
	margin-bottom: 20px;
	margin-top:-15px;
}

.square-large {
	width:280px;
	height: 70px;
	border-bottom: 1px solid #D1DEE8;
	margin-bottom: 20px;
	margin-top:-15px;
}

.square-small-nl {
	width:105px;
	height: 85px;
/* 	border-bottom: 1px solid #D1DEE8; */
	margin-bottom: 20px;
	margin-top:0px;
}

.square-large-nl {
	width:280px;
	height: 85px;
/* 	border-bottom: 1px solid #D1DEE8; */
	margin-bottom: 20px;
	margin-top:0px;
}

.square-container {
/* 	text-align: center; */
	max-width: 1305px;
	margin-left: 420px;
	padding-top: 5px;
	height: 700px;
}

.margin-1{ 
	margin-left: -130px;
	margin-right: -65px;
}


