@import 'https://fonts.googleapis.com/css?family=Open+Sans';
html {
	height: 3225px;
	width: 1920px;
	border: 1px solid #D1DEE8;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	height: 125px;
}

.navbar-brand {
	width: 250px;	
}

.pushed {
	padding-left: 510px;
	font-weight: 800;
}

.black {
	color: black; important!
}

a:active, a:hover, a:visited,  a:link {
	color:black;
	text-decoration: none;
}

.lefty {
	margin-left: 35px;
	margin-top: 10px;
}

.dropped {
	width: 330px;
	border-left: 1px solid #D1DEE8;
	padding-left: 45px;
	margin-left: 35px;
	margin-top: 25px;
	vertical-aling: middle;
	color: black
/* 	height: 26px; */
}

.border-top {
	border-top: 1px solid #D1DEE8;
	margin-top: -5px
}

.little-push {
	padding-left: 155px;
}

.for-you span {
	color: red;
	font-weight: 800;
} 

.black span {
	color:black;
	font-weight: 800;
}

.little-push a {
	color: red;
}

.navbar-default {
	background-color: white;
	border-bottom: 1px solid #E7E7E7
}

.user-img {
	margin-right: 30px;
}

.center {
	text-align: center;
}

.section-one {
	padding: 0;
	margin-top: -20px;
	height: 1010px;
	background-color: #F2F9FF
}

.row-section-one {
	padding-top: 105px
}

.col-one {
	padding-left: 275px;
	width: 470px;
	margin-right: 105px;
/* 	border: 1px solid black */
	background-color: transparent;
	margin-top:-5px
}

.col-two {
	width: 690px;
	margin-left: 300px;
	padding-rigt: 0
}

.margined-1 {
	margin-top: 55px;
	font-size: 13px;
	margin-bottom: 25px;
	line-height: 200%
}

.demo {
	border-radius: 0;
	outline: none;
	background-color: #4C80EC;
	border: 0;
	color: white;
	margin-right: 15px;
	width: 155px;
	height: 60px;
	vertical-align: middle;
	font-size: 15px;
}

.try-free {
	border-radius: 0;
	outline: none;
	background-color: #5BBB48;
	border: 0;
	color: white;
	margin-left: 15px;
	width: 255px;
	height: 60px;
	font-size: 15px;
	vertical-align: middle;
}

.text-demo {
	vertical-align: middle
}

.button-container {
	border-bottom: 1px solid #D1DEE8;
	padding-bottom: 50px;
	width: 520px;
	margin-left: 60px;
	margin-bottom: 20px;
}

.container-for-text {
	width: 690px;
	padding: 0;
}

.textbox {
	text-align: left;
	margin-top: 30px;
}

.checked {
	margin-left: -30px;
}

.text {
	margin-left: 12px;
}

.col-text-left {
	margin-right: 40px;
	width: 280px;
}

.col-text-right {
	margin-left: 65px;
	width: 280px;
}

.section-two {
	margin-top: 85px;
	height: 615px;
	background-color: #F2F9FF;
	padding-top: 85px;
}

.title-one {
	margin-bottom: 75px;
	width: 1200px;
	margin-left: 385px;
}

.logo-two {
	margin-bottom: 50px;
}

.badge-container {
	margin-top: 70px;
	border-top: 1px solid #D1DEE8;
	padding-top: 40px;
}

.badger {
	text-align: left;
	width: 570px;
	font-weight: 800
}

.section-three {
	padding-top: 115px;
}

.title-three {
	margin-bottom: 40px;
}

.container-pricing {
/* 	margin-top: 50px; */
	text-align: center;
	max-width: 1015px;
	margin-left: 495px;
	padding: 0;
	height: 465px;
/* 	border: 1px solid black */
}

.item-span {
	font-weight: 800; 
	padding-top: 5px;
}

.price-span {
	font-size: 12px
}

.top-pad {
	padding-top: 35px;
}

.top-pad-2 {
	padding-top: 20px;
}

.bold {
	font-weight: 800
}

.big-u {
	width: 400px;
	font-weight: 800;
}

.small-u {
	width: 165px;
	font-weight: 800;
}

.mg-r { 
	margin-right: 125px
}

.mr-b {
	margin-bottom: 20px;
	padding-bottom:30px;
}

.mr-t {
	margin-top: 65px;
}

.mr-neg {
	margin-top: 45px;
}

.mr-neg2 {
	margin-top: 100px;
}

.mr-top-neg {
	margin-top:-5px;
}

.blue {
	color: blue;
	font-weight: 800;
	font-size: 12px;
	line-height: 200%;
}

.soda-button {
	height: 25px;
	width: 185px;
	background-color: #FD4049;
	color: white;
	margin-bottom: 30px;
	border: 0;
	font-weight: 100
}

.buy-button {
	width: 195px;
	height: 50px;
	background-color: #4C80EC;
	color: white;
	font-weight: 100;
	border: 0;
	font-size: 20px
}

.line-mid {
	line-height: 50%
}

.line-double {
	line-height: 200%;
}

.no-mg {
	padding:0;
	margin:0	
}

.negative-mg-left {
	margin-left: -180px;
}

.square {
	height: 85px;
	border-bottom: 1px solid #D1DEE8;
	margin-bottom: 20px
}

.dot {
/* 	padding-top: 35px; */
	background-color: #4C80EC;
	color: #4C80EC;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	font-size: 5px
}

.mg-b {
	padding-top: 25px;
}

.mg-bot {
	margin-bottom: -5px;
}

.mg-plus {
	margin-bottom: 35px;
	margin-top:0px;
}

.margin-logo {
	margin-top: 5px;
	padding-left: 32px;
}

.mg-plus-s {
	margin-bottom: 5px;
	margin-top: -55px;
}

.mg-plus-3 {
	margin-top: 8px;
	line-height: 200%; 
	font-size: 12px
}

.arrow-prelast {
	margin-right: 167px;
	margin-left: -187px;
	height: 19px;
	font-size: 19px;
}

.mg-busi {
	margin-left: 25px;
	font-weight: 800;
}

.row-pad {
		padding-top: 10px;
}


.mg-menu {
	margin-top: 10px
}
.arrow-last {
	color: black;
	margin-right: 30px;
	margin-left: -25px;	
}

.arrow-first {
	font-size:19px;
	color:black;
	margin-right: 150px;
	margin-left: -150px;
}

.arrow-second {
	color: black;
	margin-right: 25px;
	margin-left: -30px;
	font-size: 30px;
	vertical-align: middle
}

